
page{
	width: 750rpx;
	height: 100%;
	background-image: url("http://ow74m25lk.bkt.clouddn.com/level_bg.png");
	/* background-size: contain; */
	padding-top: 28rpx;
	overflow: hidden;
    background-size:cover;
}

.container{
	display: flex;
	flex-wrap:wrap;
}

.pass,
.un-pass{
	margin-left: 37.5rpx;
	margin-bottom: 25rpx;
	width: 105rpx;
	height: 108rpx;
	line-height: 108rpx;
	text-align: center;
	background-size: 105rpx 108rpx;
}

.pass{
	background-image: url("http://ow74m25lk.bkt.clouddn.com/level_pass.png");
}

.un-pass{
	background-image: url("http://ow74m25lk.bkt.clouddn.com/level_unpass.png");
}
